  @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
  *{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
  }

  //styles footer
  #socials{
    display:flex;
    justify-content: space-around;
    width:50%;
  }
  #nav{
    background-color:rgb(12, 14, 32);
  }
  #footer{
    margin-top:0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:rgb(12, 14, 32);
    color:white;
    height:45vh;
    border-radius: 0;
  }
  
  #restOfFooter{
    display:flex;
    justify-content: space-around;
    padding-top:50px;
  }
//styling weather component

  li{
    list-style: none;
  }
  //body styling
  body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-height:100%;
  }
  
  .header {
    color: white;
    font-size: 3rem;
    text-shadow: .1rem 0rem 2rem white;
  }
  //styles main content of page
  #jumbotron{
    background: rgba(0, 0, 0, 0.401);
    color:white;
    margin-bottom:0;
    min-height:80vh;
  }
  
  a:hover{
    text-decoration:none;
    color: #2DA9F5;
  }
  
  html{
    height:100vh;
  }
  
  #links a:hover{
    color:#2DA9F5;
    text-decoration: none;
  }
  #links a{
    color:white;
  }
  #nav a:hover{
    color:#2DA9F5;
    text-decoration: none;
  }
  #links1{
    display:flex;
    transform:1.2s;
  
  }
  #links1 img:hover{
    transform: scale(1.5);
  }
  #links1 li{
    padding:5px;
    margin-bottom:0;
    border-radius: 0;
  }
  
  
  
  /* AboutUs CardCarousel */
  .card { /* Styles the height of the cards */
    height: 33rem;
  }
  
  .custom-card { /* Puts a border on the cards */
    border: solid wheat .2rem !important;
  }
  
  .custom-image { /* Styles the card images */
    border: solid wheat .3rem;
  }
  
  #title { /* Styles the card titles */
    color: #2DA9F5;
    font-size: 2rem;
    text-decoration: underline;
  }
  
  #text { /* Styles the text inside the cards */
    font-size: 1.25rem;
  }
  
  #jumbotron-2{ /* Styles the Jumbotron(background) */
    background: rgba(0, 0, 0, 0.415);
    color: black;
    font-size: 3rem;
    border-radius: 0;
    margin-bottom: 0;
  }
  
  .header { /* Styles the icon and heading */
    color: orange;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  
  #heading { /* Styles the heading */
    font-size: 4rem;
    text-shadow: none;
  }
  
  #methods-image {
    margin-bottom: 1.5rem;
  }
  
  .carousel-control-next-icon { /* Styles the icon for the next (right) arrow on the carousel */
    position: static !important; /* !important is used to override the React Bootstrap attributes */
    display: block !important;
    margin-left: auto !important;
    cursor: pointer !important;
    width: 2rem !important;
    height: 2rem !important;
  }
   
  .carousel-control-prev-icon { /* Styles the icon for the previous (left) arrow on the carousel */
    position: static !important;
    display: block !important;
    margin-right: auto !important;
    cursor: pointer !important;
    width: 2rem !important;
    height: 2rem !important;
  }
   
  .carousel-control-prev { /* Styles the area that changes the slides */
    cursor: auto !important;
    height: 1rem !important;
    display: block !important;
    margin: auto !important;
  }
   
  .carousel-control-next { /* Styles the area that changes the slides */
    cursor: auto !important;
    height: 1rem !important;
    display: block !important;
    margin: auto !important;
  }  
  
  .scroll { /* Styles the scroll container for the company history */
    background-color: white;
    width: fit-content;
    overflow-y: scroll;
    font-size: 2rem;
    scroll-behavior: smooth;
    height: 33rem;
  }
  
  #title-3 { /* Centers each part of the story */
    text-align: center;
  }
  
  #end { /* Centers the end text at the end of the story */
    text-align: center;
  }

  .story-text { /* Moves all of the paragraph text slightly inward */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }