  @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
  *{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
  }

  //styles footer
  #socials{
    display:flex;
    justify-content: space-around;
    width:50%;
  }
  #nav{
    background-color:rgb(12, 14, 32);
  }
  #footer{
    margin-top:0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:rgb(12, 14, 32);
    color:white;
    height:45vh;
    border-radius: 0;
  }
  
  #restOfFooter{
    display:flex;
    justify-content: space-around;
    padding-top:50px;
  }
//styling weather component
  li{
    list-style: none;
  }
  //body styling
  body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-height:100%;
  }
  
  .header {
    color: white;
    font-size: 3rem;
    text-shadow: .1rem 0rem 2rem white;
  }
  //styles main content of page
  #jumbotron{
    background: rgba(0, 0, 0, 0.401);
    color:white;
    margin-bottom:0;
    min-height:80vh;
  }
  
  a:hover{
    text-decoration:none;
    color: #2DA9F5;
  }
  
  html{
    height:100vh;
  }
  
  #links a:hover{
    color:#2DA9F5;
    text-decoration: none;
  }
  #weatherL a:hover{
    color:#2DA9F5;
    text-decoration: none;
  }
  #links a{
    color:white;
  }
  #nav a:hover{
    color:#2DA9F5;
    text-decoration: none;
  }
  #azWeatherLogo{
    font-size:2rem;
  }
  #links1{
    display:flex;
    transform:1.2s;
  
  }
  #links1 img:hover{
    transform: scale(1.5);
  }
  #links1 li{
    padding:5px;
    margin-bottom:0;
    border-radius: 0;
  }
  
  
  
  /* AboutUs CardCarousel */
  .AboutUs {
    min-width: 100%;
  }

  .card { /* Styles the height of the cards */
    height: 33rem;
  }
  
  .custom-card { /* Puts a border on the cards */
    border: solid wheat .2rem !important;
  }
  
  .custom-image { /* Styles the card images */
    border: solid wheat .3rem;
  }
  
  #title { /* Styles the card titles */
    color: #2DA9F5;
    font-size: 2rem;
    text-decoration: underline;
  }
  
  #text { /* Styles the text inside the cards */
    font-size: 1.25rem;
  }
  
  #jumbotron-2{ /* Styles the Jumbotron(background) */
    background: rgba(0, 0, 0, 0.415);
    color: black;
    font-size: 3rem;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 15.2rem;
    padding-right: 15.2rem;
  }
  
  .header { /* Styles the icon and heading */
    color: orange;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  
  #heading { /* Styles the heading */
    font-size: 4rem;
    text-shadow: none;
  }
  
  #methods-image {
    margin-bottom: 1.5rem;
  }
  
  .carousel-control-next-icon { /* Styles the icon for the next (right) arrow on the carousel */
    position: static !important; /* !important is used to override the React Bootstrap attributes */
    display: block !important;
    margin-left: auto !important;
    cursor: pointer !important;
    width: 3rem !important;
    height: 3rem !important;
    margin-right: auto;
  }
   
  .carousel-control-prev-icon { /* Styles the icon for the previous (left) arrow on the carousel */
    position: static !important;
    display: block !important;
    margin-right: auto !important;
    cursor: pointer !important;
    width: 3rem !important;
    height: 3rem !important;
    margin-left: auto;
  }
   
  .carousel-control-prev { /* Styles the area that changes the slides */
    cursor: auto !important;
    height: 1rem !important;
    display: block !important;
    margin: auto !important;
  }
   
  .carousel-control-next { /* Styles the area that changes the slides */
    cursor: auto !important;
    height: 1rem !important;
    display: block !important;
    margin: auto !important;
  }  
  
  .scroll { /* Styles the scroll container for the company history */
    background-color: white;
    width: fit-content;
    overflow-y: scroll;
    font-size: 2rem;
    scroll-behavior: smooth;
    height: 33rem;
  }
  
  #title-3 { /* Centers each part of the story */
    text-align: center;
  }
  
  #end { /* Centers the end text at the end of the story */
    text-align: center;
  }

  .history-text { /* Moves all of the paragraph text slightly inward */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }



  #stories-container{
      background:rgba(0, 0, 0, 0.415);
      min-width:100%;
      margin-top:-15px;
      margin-bottom:-15px;
      padding-left:10rem;
      padding-right:10rem;
      padding-bottom:10px;
      min-height:100%;
  }
  #story-card{
      min-height: 10rem;
      min-width:15rem;
  }
  #story-body{
    display: flex;
    justify-content: center;
  }
  /* Weather page */
.containerHanad{
  display: flex;
  justify-content: center;
}


.Ttemp{
  text-align: start;
  font-size: 6.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

#WP{
  padding-left: 40px;
  padding-top: 60px;
}

#wpText{
  text-align: start;
  font-size: 1.8rem;
}

.Trrowtemp{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16rem;
  padding-top: 40px;
}

#Ttext{
  margin: 0;
  font-size: 50px;
}

#TtempText{
  padding-top: 3rem;
  font-size: 100px;
}

.Listtemp{
  text-align: start;
  background-color: rgba(0, 0, 0, .471);
  font-size: 1.5rem;
}

.Listtemp2{
  text-align: center;
  background-color: rgba(0, 0, 0, .471);
  font-size: 1.5rem;
  color:white;
}
.Dtemp{
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
  justify-content: space-between;
  color: white;
  padding-top: 2rem;
}

img.display{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* this is use for the datse list sun size */
#sunsize{
  width: 2rem;
  height: 2rem;
}
#heading {
  font-size: 4rem;
  text-shadow: none;
}

#popUpDays{
  font-size: 3rem;
}

#TempText{
  font-size: 5rem;
}

#CSun{
  width: 5rem;
}

#Temp{
  width: 3rem;
}

#Water{
  width: 3rem;
}

#Moon{
  width: 2rem;
  height: 2rem;
}