@font-face{
  font-family: 'montserrat';
  src: url(./fonts/Montserrat/Montserrat-Black.ttf)
}
*{
  font-family: 'montserrat';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  color: white;
  font-size: 3rem;
  text-shadow: .1rem 0rem 2rem white;
}


/* Carousel */
.alice-carousel {
  padding-top: 3rem;
}



.carousel {
  color: white;
  text-align: center;
}

.sliderimg {
  object-fit: cover; /* object-fit specifies how an image should fit its container */
}

.alice-carousel__prev-btn {
  color: red;
}